:root{
    --mainColor:#272D38;
    --colorr:#8EADD5;
    --mainPadding:164px;
    --resPadding:300px;
    --space:90px;
}
main{
    overflow: hidden;
}
.navbar-collapse{
    flex-grow: 0;
}
.mainColor{
    color: var(--mainColor);
}
.space{
    margin-top: var(--space);
}
.build{
    height: calc(100vh - 58px);
}
h1{
    font-size: 64px;
    font-weight: 700;
}
.colo{
    color: rgba(102, 112, 133, 1);
}
.colorr{
    background-color: var(--colorr) !important;
}
.logos{
    background-color: rgba(246, 246, 246, 1);
}
.card{
    border: 0 !important;
}
h2{
    font-size: 48px;
    font-weight: 700;
}
.carousel-indicators{
    bottom: -60px;
}
.card-img-top{
    width: 129px;
}
h5{
    font-size: 18px;
}
.carousel-inner p{
    font-size: 14px
}
.carousel-inner .card {
    width: 345px;
}
.carousel-indicators [data-bs-target]{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid var(--colorr);
}
.carousel-indicators .active{
    background-color: var(--colorr);
    border-color: var(--colorr) ;
}
.shad{
    width: 679px;
    height: 679px; 
    z-index: -1;
    border-radius: 100%;
    background: linear-gradient(to right,#7c99bf1f); 
    box-shadow: 0px -90px 306px 60px rgba(120, 149, 187, 0.24);
}
.shad2{
    width: 340px;
    height: 340px; 
    border-radius: 50% 0 0 50%;
    transform: translate(60%,-50%) !important;
    background: linear-gradient(to right,#7c99bf2d);
    box-shadow: -20px 0px 306px 60px rgba(120, 149, 187, 0.3);
}
@media (max-width:1200px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .vector{
        width:20%;
    }
    .carousel-indicators .active{
        opacity:0.5 ;
    }
    .carousel-indicators .active1{
        opacity: 1;
    }
}
@media (max-width:992px){
    .med{
        padding-left: 30px;
        padding-right: 30px;
    }
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 14px;
    }
}
@media (min-width:992px) {
    .mainPadding{
    padding-left: var(--mainPadding) !important;
    padding-right: var(--mainPadding) !important;
    }
    .wid{
        width: 50%;
    }
}

