:root{
    --mainColor:#272D38;
    --colorr:#8EADD5;
    --mainPadding:164px;
    --resPadding:300px;
    --space:90px;
}
.navbar-collapse{
    flex-grow: 0;
}
.mainColor{
    color: var(--mainColor);
}
.space{
    margin-top: var(--space);
}
.build{
    height: calc(100vh - 58px);
}
h1{
    font-size: 64px;
    font-weight: 700;
}
.colo{
    color: rgba(102, 112, 133, 1);
}
.colorr{
    background-color: var(--colorr);
}
.logos{
    background-color: rgba(246, 246, 246, 1);
}
.card{
    border: 0 !important;
}
h2{
    font-size: 48px;
    font-weight: 700;
}
.carousel-indicators{
    bottom: -80px;
}
@media (max-width:1200px) {
    .rotate-90{
        transform: rotate(90deg);
    }
    .vector{
        width:20%;
    }
}
@media (max-width:992px){
    .med{
        padding-left: 30px;
        padding-right: 30px;
    }
    h1{
        font-size: 48px;
    }
    h2{
        font-size: 40px;
    }
    p{
        font-size: 14px;
    }
    .rrr{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (min-width:992px) {
    .mainPadding{
    padding-left: var(--mainPadding) !important;
    padding-right: var(--mainPadding) !important;
    }
}

